@charset "utf-8";
/* CSS Document */

/*
3 31 2015
Home 0
office 1
*/


/* Slider  */

#slider-wrap {
	margin: 0 auto;
	max-width: 1024px;
	
}
#slider-body {
	min-height: 500px;
	width: 100%;
	max-width: 1024px;
	float: left;
	clear: both;
	position: relative;
	z-index:100;
}
#slider-body img {
	position: absolute;
	width: 100%;
	height: 100%;
	display:none;
	z-index:1000;
}
#slider-info {
	max-width: 50%;
	max-height: 45%;
	border: #000000 solid 1px;
	position: absolute;
	bottom: 60px;
	left: 40px;
	z-index: 1200;
	background-color: #1F1F1F;
	width: 459px;
       
}
#slider-info .info {
	padding: 2% 2% 0 2%;
	width: 96%;
	height: auto;
	color: #FFFFFF;
	font-size: 20px;
	clear: both;
	float: left;
	position:relative;
	z-index: 1200;

}

#slider-info .info a, #slider-info .info a:visited {
   
        color:#FFFFFF;
        text-decoration:none;
}

#slider-info .sub {
	padding: 2%;
	color: #FFFFFF;
	font-size: 12px;
	width:96%;
	height: auto;
	float: left;
	position:relative;
	
}
#slider-info .bottom {
	width: auto;
	height: 10px;
	clear: both;
	position:relative;
	z-index: 1200;
	bottom:10px;
	right:0;
	margin-right:10px;
        margin-bottom: 10px;
        float:right;
       
	
}
#slider-info .bottom img{
z-index: 2000;
float:left;
width:20px;
height:20px;
position:relative;
display:block;
margin-left:10px;
}



/*========= 480px =========*/

@media screen and (max-width: 480px) {
    #slider-info .bottom {
       bottom:-10px;
        
    }
    
    
    #slider-info .info {
            font-size: 15px;

    }

    #slider-info .sub {
            font-size: 10px;
    }

    #slider-body {
        height:300px;
    }
    
    #slider-body img {
        height:55%;
    }
 
}

/*========= 768px =========*/



@media screen and (max-width:768px) {
#slider-info {
	min-height: 150px;
	min-width: 100%;
	left: 0;
	bottom:0;

}

#slider-body {
    min-height: 400px;
}
 
#slider-body img {
        height:70%;
    }

}
